<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.bplaced.abzzezz.animeapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
            android:icon="@mipmap/appimage"
            android:installLocation="preferExternal"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/appimage"
            android:supportsRtl="true"
            android:theme="@style/DarkTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".activities.extra.PlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection">
        </activity>
        <activity
                android:name=".activities.main.DrawerMainMenu"
                android:label="@string/title_activity_drawer_main_menu"
                android:theme="@style/DarkTheme.NoActionBar"/>
        <activity android:name=".activities.main.SelectedAnimeActivity"/>

        <activity
                android:name=".activities.extra.SplashScreen"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <receiver
                android:name=".util.BootReceiver"
                android:enabled="true"
                android:exported="true"
                android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:enabled="true"
                  android:exported="true" android:name=".util.animenotifications.Alarm">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
                android:label="Anime Notification Service"
                android:description="@string/anime_notification_service_description"
                android:enabled="true" android:exported="true"
                android:name=".util.animenotifications.AnimeNotificationService"
        />

    </application>
</manifest>