<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2021. Roman P.
  ~ All code is owned by Roman P. APIs are mentioned.
  ~ Last modified: 06.04.21, 20:08
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.bplaced.abzzezz.animeapp">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- Application tag -->
    <application
            android:icon="@mipmap/appimage"
            android:installLocation="preferExternal"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/appimage"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            android:requestLegacyExternalStorage="true"
            tools:targetApi="q">

        <!-- Activities -->
        <activity
                android:name=".activities.main.ui.player.PlayerActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection">
        </activity>

        <activity
                android:name=".activities.main.ui.player.StreamPlayer"
                android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection">
        </activity>

        <activity
                android:name=".activities.main.DrawerMainMenu"
                android:label="@string/title_activity_drawer_main_menu"/>
        <activity android:name=".activities.main.ui.home.SelectedActivity"/>

        <activity
                android:name=".activities.main.ui.splash.SplashScreen"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Providers -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
        <!-- Font -->
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <!-- Receiver and service -->
        <receiver android:name=".util.receiver.StopDownloadReceiver"/>
        <!-- Receiver and Service -->
    </application>
</manifest>