<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020. Roman P.
  ~ All code is owned by Roman P. APIs are mentioned.
  ~ Last modified: 26.05.20, 14:27
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.bplaced.abzzezz.animeapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/appimage"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/appimage"
            android:supportsRtl="true"
            android:theme="@style/DarkTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".activities.extra.SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>
        <activity android:name=".activities.extra.CloudList">
        </activity>
        <activity android:name=".activities.extra.MainMenuActivity">
        </activity>
        <activity
                android:name=".activities.extra.PlayerActivity"
                android:label="@string/title_activity_player"
                android:theme="@style/DarkTheme.NoActionBar">
        </activity>
        <activity android:name=".activities.main.SelectedAnimeActivity">
        </activity>
        <activity android:name=".activities.main.AnimeListActivity">
        </activity>
        <activity
                android:name=".activities.extra.SplashScreen"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>